<html>
  <link rel="stylesheet" href="/css/menu.css" />
  <body>
      <div class="panel">
      <h2 class="panel-header">LA College Movers Database</h2> 
      <div class="vertical-menu">
        <a href="/schedule">Schedule a Job</a>
        <a href="#">Analysis</a>
        <a href="/clients">Clients</a>
        <a href="/jobs">Jobs</a>
        <a href="#">Employees</a>
      </div>
      <div>
  </body>
</html>
