<html>
  <link rel="stylesheet" href="/css/style.css" />
  <body>
    <h2>Schedule Your Moving Day</h2>
    <form action="/add" method="POST">
      <fieldset>
      <h3>Contact Information</h3>
      <label for="ClientFname">First Name</label>
      <input type="text" name="ClientFname" id="ClientFname" required>
      <label for="ClientLname">Last Name</label>
      <input type="text" name="ClientLname" id="ClientLname" required>
      <label for="ClientEmail">Email</label>
      <input type="text" name="ClientEmail" id="ClientEmail" required>
      <label for="PhoneNumber">Phone Number</label>
      <input type="text" name="PhoneNumber" id="PhoneNumber" required>  
      <h3>Locations (Both Addresses Must Be In Louisiana)</h3>
      <label for="OriginalCity">Moving From (City)</label>
      <input type="text" name="OriginalCity" id="OriginalCity" required>
      <label for="OriginalStreet">Moving From (Street Address)</label>
      <input type="text" name="OriginalStreet" id="OriginalStreet" required>
      <label for="DestinationCity">Moving To (City)</label>
      <input type="text" name="DestinationCity" id="DestinationCity" required>
      <label for="DestinationStreet">Moving To (Street Address)</label>
      <input type="text" name="DestinationStreet" id="DestinationStreet" required>
      <h3>Set Your Date</h3>
      <label for="MoveDay">Day</label>
      <input type="number" step="1" name="MoveDay" required>
      <label for="MoveMonth">Month (1 - 12)</label>
      <input type="number" step="1" name="MoveMonth" required>
      <label for="MoveYear">Year</label>
      <input type="number" step="1" name="MoveYear" required><br><br>
      <input type="submit" name="submit" value="Submit">
      </fieldset>
    </form>
  </body>
</html>
