body {
  background: #121212;
  color: #efefef;
}

label {
	display: block;
	margin: 5px 0;
  color: #efefef;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
  color: #efefef;
}

td,
th {
	padding: 5px;
	border-bottom: 1px solid #efefef;
  color: #efefef;
}

.textAlignC {
	text-align: center;
}

.center-table {
  margin: auto;
  width: 60%;
}
